.todoItem {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 20px;
  border: 1px solid #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.todoItem + .todoItem {
  margin-top: 15px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.5rem;
  color: azure;
}

.content.checked svg {
  font-size: 1.5rem;
  color: aquamarine;
}

.content .text {
  margin-left: 1rem;
  flex: 1;
}

.content.checked .text {
  color: azure;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.6;
}
