.todoItem {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid rgba(76, 160, 255, 0.255);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.todoItem + .todoItem {
  margin-top: 15px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.5rem;
  color: #a1a1a16a;
}

.content.checked svg {
  font-size: 1.5rem;
  color: rgb(76, 160, 255);
}

.content .text {
  margin-left: 1rem;
  flex: 1;
}

.content.checked .text {
  color: rgb(126, 126, 126);
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.6;
}
