.background {
  position: absolute;
  padding: fixed;
  z-index: 980;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303f95;
  opacity: 0.8;
}

.editForm {
  position: fixed;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 990;
  width: 400px;
  height: 150px;
  padding: 10px 20px;
  background: #282c34;
  border-radius: 20px;
}

.editForm > button {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  transition: 0.2s ease-in;
}
